*.o
*.lo
*.plist/
.deps
.dirstamp
/Makefile
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
install-sh
Makefile.in
missing
src/config.h*
stamp-h1
with-overlayfs
depcomp
config.guess
config.sub
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.libs/
libtool
libwith_overlayfs_after_load.la
